﻿/* Move down content because we have a fixed navbar that is 50px tall */
@font-face {
    font-family: LocalSuttonyMj;
    src: url("fonts/SutonnyMJRegular.ttf");
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}
.numeric-bangla {
    font-family: LocalSuttonyMj;
    font-size: 12px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
    .report-body-content {
        margin-left: 25px;
        margin-right: 25px;
    }
}
