﻿//colors
$color_steel_blue_approx: #4679bd;
$white: white;
$color_apple_blossom_approx: #a94442;
$color_gray_approx: #28526b;
$color_brown_approx: #f0ba50;
$color_spindle_approx: #bbd4f3;

.user-info {
    max-width: 600px;
}

.main-content, .page-content, .main-container:before {
    background-image: none;
    background-color: #D1F2EB !important;
}

.light-login {
    background-image: none;
    background-color: $color_gray_approx !important;
}

.breadcrumbs {
    font-size: 20px;
    color: Maroon;
    min-height: 35px;
    line-height: 34px;
}

.widget-header {
    color: $color_steel_blue_approx !important;
}

.breadcrumb > li > a {
    color: $color_steel_blue_approx !important;
}

.dataTable > thead > tr > th[class*=sort]:hover {
    color: $color_steel_blue_approx !important;
}

.no-skin {
    .sidebar {
        background-color: $color_gray_approx !important;
    }

    .nav-list > li > a, .no-skin .nav-list > li > a:focus {
        background-color: $color_gray_approx !important;
        color: antiquewhite;
    }
}

.no-skin .nav-list > li.open > a, .no-skin .nav-list > li:hover > a {
    color: antiquewhite;
    font-weight: bold;
}

.nav .nav-list {
    background-color: $color_gray_approx !important;
}

.btn-xs {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-list > li.active > a {
    background-color: #F3F3F3 !important;
}

.breadcrumbs {
    background-color: $color_brown_approx !important;
}

.navigation-heading {
    background-color: $color_brown_approx !important;
    cursor: default;
}

.dataTables_wrapper {
    background-color: $color_gray_approx !important;
}

.dataTables_borderWrap, .dataTables_borderWrap .row {
    background-color: #6aadf1 !important;
}

tr.even {
    background-color: $color_gray_approx !important;
}

//End for Print

body {
    background-image: url("images/bg.gif");
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.public-content {
    min-height: 100px;
}

.navbar {
    background-color: $color_gray_approx;
}

.navbar-header {
    a {
        small {
            img {
                max-height: 50px;
                display: inline;
                margin: 0;
                padding: 5px;
            }
        }
    }

    .navbar-brand {
        line-height: 30px;
    }
}

.ace-nav > li {
    line-height: 50px;
    height: 50px;
}

.login-container {
    .center {
        img {
            display: inline;
            margin-top: 10px;
        }

        h1 {
            padding-top: 5px;
            margin-top: 0;
        }
    }
}

.nav-list {
    & > li {
        & > a {
            height: auto;
            font-size: 12px;
        }
    }
}

.sidebar {
    width: 230px;

    & + .main-content {
        margin-left: 230px;
    }
}

@media(min-width: 992px) {
    .sidebar {
        & + .main-content {
            .breadcrumbs-fixed {
                left: 230px;
            }
        }
    }
}

.modal-body {
    legend {
        margin-bottom: 10px;
        font-size: 18px;
        font-style: italic;
        color: $color_steel_blue_approx;
    }
}

.date-picker {
    max-width: 110px;
}

.input-validation-error {
    border: 1px solid $color_apple_blossom_approx;
}

input.input-validation-error {
    border: 1px solid $color_apple_blossom_approx;
}

.profile-picture {
    max-height: 120px;
}

/*Input Controls*/
.btn {
    border-radius: 4px;
}

select.input-sm, input[type=email], input[type=url],
input[type=search], input[type=tel], input[type=color],
input[type=text], input[type=password], input[type=datetime],
input[type=datetime-local], input[type=date], input[type=month],
input[type=time], input[type=week], input[type=number], textarea {
    border-radius: 4px !important;
}

.ace-image-input {
    background: none;
}

/*Public Site Options*/

.change-password-box {
    width: 400px;
    margin: 50px auto;
}

@media(max-width: 800px) {
    .change-password-box {
        margin: 20px auto;
    }
}

@media(max-width: 499px) {
    .devloper-designer {
        float: left !important;
        text-align: center;
    }
}

dl {
    margin-bottom: 0;
}

.public-body {
    background-color: #f6f5f5;
}

.padding-custom-15 {
    padding: 15px;
}

.bordered-1 {
    border: 1px solid #808080;
    background-color: #FFF;
}

.height-100 {
    height: 100px;
}

/*Other Options*/
.em-data-table {
    border-radius: 0;
}

.widget-body {
    display: block;
}

.required {
    color: red;
}

.ace-save-state {
}

.map-zoom-full {
    vertical-align: middle;
}

.nowrap {
    th, td {
        white-space: nowrap;
        min-width: 170px;

        &.action-cell {
            text-align: center;
        }
    }
}

/*For Typeahead*/
.tt-menu {
    width: 100% !important;

    .table {
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 12px;
    }
}

td.typeahead-suggestion-head {
    font-weight: bold;
    font-style: italic;
    width: 65px;
}

td.typeahead-suggestion-secondColumn {
    width: 200px;
}

.thumbnail-image {
    max-height: 100px;
}

.alert-plot-amount, .alert-5px-padding {
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: silver;
}

.gridViewHeaderStyle {
    background-color: #404040 !important;
    color: antiquewhite;
}

.main-data-grid {
    height: 100%;
    background-color: #dddddd;
}

.table-detail-4-col {
    th {
        width: 20%;
    }

    td {
        width: 30%;
    }

    margin-bottom: 0px;
}

.table-detail-6-col {
    th {
        width: 15%;
    }

    td {
        width: 18%;
    }

    margin-bottom: 0px;
}

.table-detail-2-col {
    th {
        width: 25%;
    }

    margin-bottom: 0px;
}

.DTFC_LeftBodyLiner, .DTFC_RightBodyLiner {
    overflow: hidden !important;
}

.forty-percent-height {
    height: 40%;
    overflow: scroll;
}

.modal-lg {
    display: block !important; /* I added this to see the modal, you don't need this */
    .modal-dialog {
        overflow-y: initial !important;
    }

    .modal-body {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
    }
}

.report-container {
    width: 1000px;
    margin: auto;
}

.grid-image {
    height: 55px;
}

.confirm-application {
    border: none;
}

.small-box {
    h3 {
        font-size: 25px !important;
    }
}

.hidGridColumn {
    display: none;
}

.pagination-sa {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;

    table > tbody > tr > td {
        display: inline;

        > {
            a {
                position: relative;
                float: left;
                padding: 8px 12px;
                line-height: 1.42857143;
                text-decoration: none;
                color: #808080;
                background-color: #ffffff;
                border: 1px solid #dddddd;
                margin-left: -1px;
            }

            span {
                position: relative;
                float: left;
                padding: 8px 12px;
                line-height: 1.42857143;
                text-decoration: none;
                color: #808080;
                background-color: #f5f5f5;
                border: 1px solid #dddddd;
                margin-left: -1px;
                z-index: 2;
                cursor: default;
            }
        }

        &:first-child > {
            a, span {
                margin-left: 0;
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
            }
        }

        &:last-child > {
            a, span {
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;
            }
        }

        > {
            a:hover, span:hover, a:focus, span:focus {
                color: #4d4242;
                background-color: #eeeeee;
                border-color: #dddddd;
            }
        }
    }
}

.company-name {
    font-size: 16px;
    color: antiquewhite;
}

//Edited by Sabbir due to reduce space between form controls
.form-group {
    margin-bottom: 5px;
}

input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], textarea, select {
    padding: 3px;
    font-size: 12px;
}

input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number] {
    background-image: url(images/form_bg.jpg) !important;
}

input:focus {
    background-image: url(images/form_bg_yellow.jpg) !important;
}

.form-group {
    margin-bottom: 3px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 5px;
    padding-left: 5px;
}

.row-custom {
    margin-right: -5px;
    margin-left: -5px;
}

.input-sm, select.input-sm {
    height: 25px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 2px;
}

.chosen-container {
    font-size: 12px;
}

.chosen-container-single .chosen-single {
    height: 28px;
    padding: 0 0 0 5px;
    line-height: 23px;
    color: #555555;
}

.footer .footer-inner .footer-content {
    position: absolute;
    left: -1px;
    right: 0px;
    bottom: 0px;
    padding: 5px;
    z-index: -2;
    margin: 20px 0 0 0;
    line-height: 15px;
    border-top: 3px double #E5E5E5;
    background-color: #301d1d;
    color: antiquewhite;

    a {
        color: aquamarine;
    }
}

.visibility-hidden {
    visibility: hidden;
}

@font-face {
    font-family: 'GoodTimesRg-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('GoodTimesRg-Regular'), url('../fonts/good times rg.woff') format('woff');
}

.software-name {
    font-family: GoodTimesRg-Regular;
    font-size: 25px;
    color: #b5d2e3;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 3px;
    }
}

.footer {
    padding-top: 10px;
}

legend {
    display: block;
    width: auto;
    padding: 0 5px;
    margin-bottom: 0;
    font-size: inherit;
    line-height: inherit;
    border: auto;
    border-bottom: none;
}

fieldset {
    border: 1px solid #808080;
    padding: 5px;
}

.no-skin {
    .nav-list {
        & > li {
            & > .submenu {
                li {
                    & > .submenu {
                        & > li {
                            a {
                                background-color: #eaeafa;
                            }
                        }
                    }
                }
            }
        }
    }
}

.ace-nav {
    .nav-user-photo {
        max-width: none;
        max-height: 40px;
    }
}

.alert-reduced-size {
    padding: 5px;
    margin-bottom: 10px;
}

.form-horizontal .form-group {
    margin-right: -5px;
    margin-left: -5px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: .5px solid #999;
}

.login-container {
    width: 400px;
}